*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(238, 147, 10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.todoListContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2vmin;
}
.btn{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
input[type=text] {
  width: 100%;
  text-indent: 3px;
  padding: 4px 7px;
  border: none;
  box-shadow: rgb(37, 23, 1) 1px 2px 10px;
}
button {
  padding: 4px 10px;
  border: none;
  color: #fff;
  background: rgb(37, 23, 1);
  box-shadow: rgb(37, 23, 1) 1px 2px 10px;
  cursor: pointer;
}
button:active {
  animation: click 0.5s linear ;
}
@keyframes click {
  0% {
    box-shadow: rgb(37, 23, 1) 1px 2px 10px;
  }
  50% {
    box-shadow: none;box-shadow: none;
  }
  100% {
    box-shadow: rgb(37, 23, 1) 1px 2px 10px;
  }
}
.todo_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  justify-items: flex-start;
}
.todo {
  display: flex;
  gap: 10px;
}